.calendar {
  color: black;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  /* max-width: 900px; */
  margin: auto;
}

.calendar-section:first-of-type {
  margin-top: 3rem; /* adjust spacing as needed */
}

.date {
  font-size: 0.75rem;
}

.calendar h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.calendar p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* .calendar-section {
      padding-top: 4rem;
      margin-bottom: 2rem;
    } */

/* Styling af limited feature */
.limited {
  margin-top: 0.2rem;
  color: #121212;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  background-color: rgb(234, 234, 234);
  padding: 7px 16px;
  max-width: 76px;
  border-radius: 16px;
}

.location {
  font-family: Arial, Helvetica, sans-serif;
  /* font-style: italic; */
  font-size: 0.75rem;
}

.event-row {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr auto;
  align-items: center;
  border-top: 1px solid #000000;
  padding-top: 0.1rem;
  padding-bottom: 0.6rem;
}

/* .event-row:last-child {
    border-bottom: 1px solid #ddd;
  } */

.event-row strong {
  font-weight: bold;
}

.btn-tilmeld {
  text-decoration: none;
  font-size: 0.85rem;
  background-color: #0f62fe;
  padding: 0.4rem 0.75rem;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;

  /* background-color: #0f62fe;
      color: white;
      padding: 0.4rem 0.75rem;
      border-radius: 4px;
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: 600;
      transition: background-color 0.2s ease; */
}

.btn-tilmeld:hover {
  background-color: #f8f8f8;
  color: black;
  transition: 300ms;
  border: solid;
  border-width: 1px;
}
